<label for="search">Search</label>
<input
  type="text"
  [formControl]="searchControl"
  placeholder="Search users..."
/>
<div *ngIf="loading" class="loader"></div>
<ul>
  <li *ngFor="let user of users">{{ user.name }}</li>
</ul>
<p>Angular Concat map</p>

<div *ngIf="posts.length > 0">
  <h2>User Posts:</h2>
  <ul>
    <li *ngFor="let post of posts">
      <strong>{{ post.title }}</strong
      >: {{ post.body }}
    </li>
  </ul>
</div>
<div *ngIf="loading">Loading...</div>
<div *ngIf="error">{{ error }}</div>


<button (click)="placeOrder()">Place Order</button>
<div *ngIf="loading">Loading...</div>
<div *ngIf="confirmation">{{ confirmation }}</div>
<div *ngIf="error">{{ error }}</div>
